@model FiltersViewModel
<aside id="filters">
    <div class="filter-block-category">
        <h5 class="filter-block-name text-white">Тип изделий</h5>
        <ul class="navbar-nav flex-grow-1">
            @foreach (var kind in Model.JewelryKinds)
            {
                <li class="nav-item">
                    @if (kind.Subspecies.Count() > 0)
                    {
                        <button class="btn btn-toggle d-flex align-items-center rounded collapsed p-0 border-0" data-bs-toggle="collapse" data-bs-target="#@kind.EnName" aria-expanded="false">
                            @kind.RuName
                        </button>
                        <div class="collapse" id="@kind.EnName">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <a class="nav-link p-0 text-dark" asp-route-jkind="@kind.EnName" asp-route-subspecies="all" title="Все изделия">
                                        <span class="align-middle">Все @kind.RuName</span>
                                    </a>
                                </li>
                                @foreach (var subspecies in kind.Subspecies)
                                {
                                    @if (subspecies.Jewelries.Count() > 0)
                                    {
                                        <li>
                                            <a asp-route-jkind="@kind.EnName" asp-route-subspecies="@subspecies.EnName" class="link-dark rounded" title="@subspecies.RuName">
                                                <span>
                                                    @subspecies.RuName
                                                </span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a class="nav-link p-0 text-dark" asp-route-jkind="@kind.EnName" asp-route-subspecies="all" title="@kind.RuName">
                            <span class="align-middle">@kind.RuName</span>
                        </a>
                    }
                </li>
            }
        </ul>
    </div>
    <div class="filter-block mt-4">
        <h5 class="price-title">Цена</h5>
        <div class="range-slider-container">
            <input type="range" min="0" step="1" max="@Model.MaxPrice" value="@Model.MinPrice">
            <input type="range" min="0" step="1" max="@Model.MaxPrice" value="@Model.MaxPrice">
        </div>
        <div class="range-slider-result">
            <span>Цена:</span>
            <div class="d-flex flex-row align-items-center">
                <span class="me-1">от</span>
                <input id="minPrice" class="form-control" type="number" value="@Model.MinPrice">
                <span class="mx-1">до</span>
                <input id="maxPrice" class="form-control" type="number" value="@Model.MaxPrice">
            </div>
        </div>
    </div>
    @foreach (var c in Model.Characteristics)
    {
        <div class="filter-block mt-4">
            <h5>@c.Name</h5>
            @if (c.CharacteristicValues.Count() > 5)
            {
                <div class="visible-block">
                    @for (int i = 0; i < 5; i++)
                    {
                        <div class="filter-option">
                            <input type="checkbox" value="@c.CharacteristicValues[i].Value" />
                            <span class="align-middle">@c.CharacteristicValues[i].Value</span>
                        </div>
                    }
                </div>
                <div class="hiden-block" style="display: none;">
                    @for (int i = 5; i < c.CharacteristicValues.Count(); i++)
                    {
                        <div class="filter-option">
                            <input type="checkbox" value="@c.CharacteristicValues[i].Value" />
                            <span class="align-middle">@c.CharacteristicValues[i].Value</span>
                        </div>
                    }
                </div>
                <div class="show-button">Показать еще @(c.CharacteristicValues.Count() - 5)</div>
                <div class="hide-button" style="display: none;">Скрыть @(c.CharacteristicValues.Count() - 5)</div>
            }
            else
            {
                <div class="visible-block">
                    @for (int i = 0; i < c.CharacteristicValues.Count(); i++)
                    {
                        <div class="filter-option">
                            <input type="checkbox" value="@c.CharacteristicValues[i].Value" />
                            <span class="align-middle">@c.CharacteristicValues[i].Value</span>
                        </div>
                    }
                </div>
            }
        </div>
    }
</aside>
<div id="showCatalogSidebar" class="position-fixed justify-content-center bg-dark text-white p-2 open-sidebar-button">Фильтры</div>
<div id="bgCatalogSidebar" class="position-fixed bg-sidebar" style="display: none;"></div>