@model List<JewelryKindsModel>
<aside id="filters">
    <div class="filter-block-category">
        <h5 class="filter-block-name text-white">Тип изделий</h5>
        <ul class="navbar-nav flex-grow-1">
            @foreach (var kind in Model)
            {
                <li class="nav-item">
                    @if (kind.Subspecies.Count() > 0)
                    {
                        <button class="btn btn-toggle d-flex align-items-center rounded collapsed p-0 border-0" data-bs-toggle="collapse" data-bs-target="#@kind.EnName" aria-expanded="false">
                            @kind.RuName
                        </button>
                        <div class="collapse" id="@kind.EnName">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <a class="nav-link p-0 text-dark" asp-route-jkind="@kind.EnName" asp-route-subspecies="all" title="Все изделия">
                                        <span class="align-middle">Все @kind.RuName</span>
                                    </a>
                                </li>
                                @foreach (var subspecies in kind.Subspecies)
                                {
                                    @if (subspecies.Jewelries.Count() > 0)
                                    {
                                        <li>
                                            <a asp-route-jkind="@kind.EnName" asp-route-subspecies="@subspecies.EnName" class="link-dark rounded">
                                                <span>
                                                    @subspecies.RuName
                                                </span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a class="nav-link p-0 text-dark" asp-route-jkind="@kind.EnName" asp-route-subspecies="all" title="@kind.RuName">
                            <span class="align-middle">@kind.RuName</span>
                        </a>
                    }
                </li>
            }
        </ul>
    </div>
    <!-- ko foreach: characteristics -->
    <div class="filter-block mt-4">
        <h5 data-bind="text: name"></h5>
        <ul class="navbar-nav flex-grow-1" data-bind="foreach: characteristic_values">
            <li class="nav-item">
                <input type="checkbox" data-bind="attr: {value: value}" />
                <span class="align-middle" data-bind="text: value"></span>
            </li>
        </ul>
    </div>
    <!-- /ko -->
</aside>
<div id="showCatalogSidebar" class="position-fixed justify-content-center bg-dark text-white p-2 open-sidebar-button">Фильтры</div>
<div id="bgCatalogSidebar" class="position-fixed bg-sidebar" style="display: none;"></div>