@model ItemViewModel
@section Css {
    <link rel="stylesheet" href="~/inline/css/item.css" />
}
<div class="container mt-4">
    <div class="item-characteristic">
        <div class="fs-5 mb-3 pb-2 align-items-center d-flex flex-row" style="border-bottom: 1px solid #e5e5e5;">
            <a class="fs-3 item-navigation-link" href="javascript: undefined;" onclick="history.back()">🠔</a>
            <div class="d-flex text-center align-items-center" style="flex: 1 0 auto">
                <div style="flex: 1 0 auto">
                    <div class="d-sm-inline">
                        <a class="item-navigation-link" asp-action="List" asp-route-jkind="list">Каталог</a> /
                        <a class="item-navigation-link" asp-action="List" asp-route-jkind="@Model.Jewelry.Subspecies.Kind.EnName" asp-route-subspecies="all">@Model.Jewelry.Subspecies.Kind.RuName</a> /
                    </div>
                    <div class="d-sm-inline">
                        <a class="item-navigation-link" asp-action="List" asp-route-subspecies="@Model.Jewelry.Subspecies.EnName">@Model.Jewelry.Subspecies.RuName</a> /
                        <a class="link-dark">@Model.Jewelry.Code</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 position-relative">
                @if (Model.Jewelry.Discount.Amount > 0)
                {
                    <div class="card-discount">-@Model.Jewelry.Discount.Amount%</div>
                }
                <img class="item-img" src="@Model.Jewelry.ImageSrc" />
            </div>
            <div class="col-md-8 col-lg-8">
                <div class="item-characteristic">
                    <h5 class="item-title">@Model.Jewelry.Name</h5>
                    <ul class="navbar-nav item-gold-characterisitc">
                        <li>
                            Код: <span>@Model.Jewelry.Code</span>
                        </li>
                        @if (Model.Characteristics != null)
                        {
                            @foreach (var jc in Model.Characteristics)
                            {
                                <li>
                                    @jc.Name:
                                    @if (jc.Name == "Размер")
                                    {
                                        <select id="size" onchange="ChangeQuantity(@Model.Jewelry.ID)" class="form-select">
                                            @foreach (var jcv in jc.Values)
                                            {
                                                <option value="@jcv.Value">@jcv.Value</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        for (int i = 0; i < jc.Values.Count; i++)
                                        {
                                            if (i == jc.Values.Count - 1)
                                            {
                                                <span>@jc.Values[i].Value</span>
                                            }
                                            else
                                            {
                                                <span>@jc.Values[i].Value |</span>
                                            }
                                        }
                                    }
                                </li>
                                if (jc.Name == "Вставка")
                                {
                                    <li>
                                        Характеристика вставки: <span>@Model.Jewelry.InsertedGemChar</span>
                                    </li>
                                }
                            }
                        }
                    </ul>
                    @if (Model.Jewelry.Quantity > 0)
                    {
                        <div id="itemPrice" class="item-buttons">
                            <div>
                                <div>
                                    Итоговая сумма:
                                    <!-- ko if: price() === null -->
                                    <span>@Model.Jewelry.Price</span>
                                    <!-- /ko -->
                                    <!-- ko ifnot: price() === null -->
                                    <span data-bind="text: price"></span>
                                    <!-- /ko -->
                                </div>
                                <div class="cart-action">
                                    <a href="javascript: undefined;" onclick="AddItemToCart(@Model.Jewelry.ID)">Добавить в корзину</a>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="cart-plus-minus">
                                    <input id="qInput" class="cart-plus-minus-box" type="number" value="1" onchange="ChangeQuantity(@Model.Jewelry.ID)">
                                    <div class="inc qtybutton" data-bind="css: { 'disable': quantity() === @Model.Jewelry.Quantity }"></div>
                                    <div class="dec qtybutton" data-bind="css: { 'disable': quantity() === 1 }"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/inline/js/item.js"></script>
    <script>jewelryQuanitity = @Model.Jewelry.Quantity;</script>
}