@model ItemViewModel
@section Css {
    <link rel="stylesheet" href="~/inline/css/item.css" />
}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <img class="item-img" src="@Model.Jewelry.ImageSrc" />
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="item-characteristic">
                <h5 class="item-title">@Model.Jewelry.Name</h5>
                <ul class="navbar-nav item-gold-characterisitc">
                    <li>
                        Код: <span>@Model.Jewelry.Code</span>
                    </li>
                    @if (Model.Characteristics != null)
                    {
                        @foreach (var jc in Model.Characteristics)
                        {
                            <li>
                                @jc.Name:
                                @if (jc.Name == "Размер")
                                {
                                    <select class="form-select">
                                        @foreach (var jcv in jc.Values)
                                        {
                                            <option value="@jcv.Value">@jcv.Value</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    for (int i = 0; i < jc.Values.Count; i++)
                                    {
                                        if (i == jc.Values.Count - 1)
                                        {
                                            <span>@jc.Values[i].Value</span>
                                        }
                                        else
                                        {
                                            <span>@jc.Values[i].Value |</span>
                                        }
                                    }
                                }
                            </li>
                            if (jc.Name == "Вставка")
                            {
                                <li>
                                    Характеристика вставки: <span>@Model.Jewelry.InsertedGemChar</span>
                                </li>
                            }
                        }
                    }
                </ul>
                <div class="quantity">
                    <label>Количество:</label>
                    <div class="cart-plus-minus">
                        <input class="cart-plus-minus-box" value="1" type="number">
                        <div class="inc qtybutton"></div>
                        <div class="dec qtybutton"></div>
                    </div>
                </div>
                <div class="item-buttons">
                    <div class="cart-action">
                        <a href="#">Добавить в корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>