@model List<ModelJewelry>
@{
    ViewData["Title"] = "Каталог";
    ViewData["GoldenTitle"] = "Каталог";
}

<div class="row">
    <div class="col-lg-4 col-xl-3">
        Фильтер!11!!!!11!
    </div>
    <div class="col-lg-8 col-xl-9">
        <div class="row">
            @foreach (var j in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="card shadow text-center h-100">
                        <img class="card-img" src="@j.ImageSrc">
                        <div class="card-body pb-0 pt-2 px-1">
                            <div class="card-title">@j.Name</div>
                        </div>
                        <div class="pb-4">
                            <div class="text-danger">
                                от
                                <span class="h5">
                                    @j.Price.ToString("0.00")
                                </span>
                                руб.
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="d-flex justify-content-around">
            <a asp-action="Products">Назад</a>
            <a asp-action="Products">Вперед</a>
            @Html.ActionLink("Назад", "Products", new { page = (int)ViewData["PageNum"] - 1 })
            @Html.ActionLink("Вперед", "Products", new { page = (int)ViewData["PageNum"] + 1 })
        </div>
    </div>
</div>
