@model CardsViewModel
@section Css {
    <link rel="stylesheet" href="~/inline/css/dbeditor.css" />
}
<div class="row m-0">
    <div class="editor-menu order-0 col-sm-3 col-xl-2">
        <div class="mb-md-0 me-md-auto">
            <h5>База данных</h5>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a asp-action="JewelrysTable" class="nav-link active">Изделия</a>
            </li>
            <li>
                <a asp-action="CharacteristicsTable" class="nav-link link-dark">Характеристика/значение</a>
            </li>
            <li>
                <a asp-action="JewelryKindsTable" class="nav-link link-dark">Виды изделий</a>
            </li>
            <li>
                <a asp-action="DiscountsTable" class="nav-link link-dark">Скидки</a>
            </li>
            <li>
                <a asp-action="UsersTable" class="nav-link link-dark">Пользователи</a>
            </li>
        </ul>
        <hr />
    </div>
    <div id="dbTable" class="order-1 col-sm-9 col-xl-10">
        <div class="db-container">
            <div class="title">
                <h3>Ювелирные изделия</h3>
                <a asp-action="CreateNewJewelry">Добавить новую запись</a>
            </div>
            <hr />
            Тут будут фильтры
            <hr />
            <table class="db-table">
                <thead>
                    <tr>
                        <th>Фотография</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Колво</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var j in Model.Jewelries)
                    {
                        <tr>
                            <td class="table-img">
                                <img src="@j.ImageSrc" />
                            </td>
                            <td class="table-item-name">
                                <a href="@j.Url">@j.Name</a>
                            </td>
                            <td>@j.Price</td>
                            <td>@j.Quantity</td>
                            <td>
                                <form asp-action="EditJewelryData" method="post" asp-antiforgery="true">
                                    <div class="form-group">
                                        <input type="number" name="id" value="@j.ID" hidden />
                                        <input type="submit" class="btn btn-default table-item-edit" value="✎" />
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form asp-action="DeleteJewelry" method="post" asp-antiforgery="true">
                                    <div class="form-group">
                                        <input type="number" name="id" value="@j.ID" hidden />
                                        <input type="submit" class="btn btn-default table-item-delete text-danger" value="✗" />
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.PageCount > 0)
            {
                <div class="d-flex justify-content-center mt-4">
                    <ul class="pagination-box overflow-auto">
                        @for (int i = 1; i < Model.PageCount + 1; i++)
                        {
                            <li class="@(i == Model.CurrentPage ? "active" : "")">
                                <a class="text-black" onclick="SelectedNewPage(@i, null)">@i</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/inline/js/databaseeditor.js"></script>
}
